<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCSF-1</title>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700" rel="stylesheet">
    <div class="container">
      <h1>TCSF1-Student</h1>
      <div class="members">
        <div class="member">
          <img src="../../images/mehdi.png">
          <h2 class="member-name">Mehdi Ell Bellaoui</h2>
          <span class="member-role"><a href="./guys/mehdi.html">Click Here For More Info ...</a></span>
        </div>
        <div class="member">
          <img src="../../images/abdalah.png">
          <h2 class="member-name">Abdalah Alarbaoui</h2>
          <span class="member-role"><a href="./guys/abdalah.html">Click Here For More Info ...</a></span>
        </div>
        <div class="member">
          <img src="../../images/mahmoud.png">
          <h2 class="member-name">Mahmoud El Farsi</h2>
          <span class="member-role"><a href="./guys/mahmoud.htm">Click Here For More Info ...</a></span>
        </div>
        <div class="member"><img src="../../images/hazo9a.png">
          <h2 class="member-name">Issam Dayaa</h2>
          <span class="member-role"><a href="./guys/issam.html">Click Here For More Info ...</a></span>
        </div>
        <div class="member">
          <img src="../../images/reda.png">
          <h2 class="member-name">Reda Filali</h2>
          <span class="member-role"><a href="./guys/reda.html">Click Here For More Info ...</a></span>
        </div>
        <div class="member">
          <img src="../../images/othman_1.png">
          <h2 class="member-name">Othman Ouada3</h2>
          <span class="member-role"><a href="./guys/othman.html">Click Here For More Info ...</a></span>
    
        </div>
      </div>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>