<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0xbl1ck-Aboutme</title>
</head>
<body>
    <div class="card-container">
        <span class="pro">PRO</span>
        <img class="round" src="../images/trol.png" alt="user" />
        <h3>Mehdi Ell Bellaoui</h3>
        <h6>Morroco-Casablanca</h6>
        <p>Ctf Player <br/> And Gray Hat Hacker</p>
        <div class="buttons">
            <button class="primary">
                <a href="https://www.instagram.com/0xbl1ck/">Message Me:</a>
            </button>
            <button class="primary ghost">
                <a href="https://www.instagram.com/0xbl1ck/">Following:</a>
            </button>
        </div>
        <div class="skills">
            <h6>Some Skills:</h6>
            <ul>
                <li>CTF Player [Hackthebox, Tryhackme, root-me]</li>
                <li>Developer [C, C++, C#, Ruby, Perl, Dart, Flutter, Php, Js]</li>
                <li>App_Developer [Android, Windows, Linux]</li>
                <li>I Love My Family</li>
                <li>I Study At Bnou Khaldon In Morroco</li>
                <li>I'm Penetration Tester And Grey Hat</li>
            </ul>
        </div>
    </div>
    

</body>
</html>