<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./c_blog/css/c.css">
    <title>Document</title>
</head>
<body>

    <div class="slideshow-container">

        <div class="mySlides">
          <h2>Hacker</h2>
          <p>To Be A Hacker It's Realy Hard And He Tak A More Time </p>
        </div>
        
        <div class="mySlides">
          <h2>White Hat</h2>
          <p>1) White Hat Hackers
            White hat hackers are types of hackers who’re professionals with expertise in cybersecurity. They are authorized or certified to hack the systems. These White Hat Hackers work for governments or organizations by getting into the system. They hack the system from the loopholes in the cybersecurity of the organization. This hacking is done to test the level of cybersecurity in their organization. By doing so, they identify the weak points and fix them to avoid attacks from external sources. White hat hackers work as per the rules and regulations set by the government.  White hat hackers are also known as ethical hackers.</p>
        </div>
        
        <div class="mySlides">
          <h2>Black Hat</h2>
         <p>Black hat hackers are also knowledgeable computer experts but with the wrong intention. They attack other systems to get access to systems where they do not have authorized entry. On gaining entry they might steal the data or destroy the system. The hacking practices used by these types of hackers depend on the individual’s hacking capacity and knowledge. As the intentions of the hacker make the hacker a criminal. The malicious action intent of the individual cannot be gauged either can the extent of the breach while hacking</p>
        </div>
        <div class="mySlides">
            <h2>Grey Hay</h2>
            <p>The intention behind the hacking is considered while categorizing the hacker. The Gray hat hacker falls in between the black hat hackers and white hat hackers. They are not certified, hackers. These types of hackers work with either good or bad intentions. The hacking might be for their gain. The intention behind hacking decides the type of hacker. If the intention is for personal gain then the hacker is considered to be a gray hat hacker.</p>
        </div>        
        <div class="mySlides">
            <h2>Script Kiddie</h2>
            <p>It is a known fact that half knowledge is always dangerous. The Script Kiddies are amateurs types of hackers in the field of hacking. They try to hack the system with scripts from other fellow hackers. They try to hack the systems, networks, or websites. The intention behind the hacking is just to get attention from their peers. Script Kiddies are juveniles who do not have complete knowledge of the hacking process.</p>
        </div>  
        <div class="mySlides">
            <h2>How I Can Be A Hacker</h2>
            <p>How I Can Be A Hacker Most Of people now want to be a hacker in 1day or 1month or 1 years nah to be a hacker this tak a lot of time First I Recommand You To Start With Hardware+ Security Because It's Give You Idea About Your Pc And Material Of your pc After Finish That Start With Security+ Because It's Give You Idea About All Hacking Attacks After That Network+ It's Give You Idea About All Thing Of Networks Protocols.........,Learn Bash To Start Automate Your Tasks With Him, And Learn Some Programming Language Like(Python, C, C++, Ruby), And Start With The Big Certification Like Ceh, Oscp, OSEP,OSWP,AWAE</p>
        </div>          
          
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
        
        </div>
        
        <div class="dot-container">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
        
        
        <div data-rsssl=1>
            <canvas id="canvas" height="700" width="1000" style="display:table; vertical-align:middle !important; z-index:-3 !important; margin:0 !important; padding:0 !important;"></canvas>
        </div>
        <script src="./c_blog/js/c.js"></script>
        
        
</body>
</html>