<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/c.css">
    <title>Document</title>
</head>
<body>

    <div class="slideshow-container">

        <div class="mySlides">
          <h2>C Language</h2>
          <p>C is an imperative procedural language supporting structured programming, lexical variable scope, and recursion, with a static type system. It was designed to be compiled to provide low-level access to memory and language constructs that map efficiently to machine instructions, all with minimal runtime support.</p>
        </div>
        
        <div class="mySlides">
          <h2>Wath We Can Do With C Language</h2>
          <p>We Can Do Windows Application And Linux Application And Also We Can Develop A System And Upgrade Some Files Of Windows And Linux In C And Also We Can Develop hardware devices, drivers, kernels</p>
        </div>
        
        <div class="mySlides">
          <h2>Finaly</h2>
         <p>This Language Is A Good Language For A Begginers Because It's Will Give You A Good Idea About Programming And C Is A Mom Of Other Language Like Python, Ruby, Perl..... Tnx For Read This Post</p>
        </div>
          
          
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
        
        </div>
        
        <div class="dot-container">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
        
        
        <div data-rsssl=1>
            <canvas id="canvas" height="700" width="1000" style="display:table; vertical-align:middle !important; z-index:-3 !important; margin:0 !important; padding:0 !important;"></canvas>
        </div>
        <script src="./js/c.js"></script>
        
        
</body>
</html>