<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card-container">
        <span class="pro">37</span>
        <img class="round" src="../../../images/no_picture.jpg" alt="user" />
        <h3>Abdalah Alarbaoui</h3>
        <h6>TCSF1</h6>
        <p>16 Years Old && Gamer <br/> FootBall Player && 9aray :D</p>
        <div class="buttons">
            <button class="primary">
                Instagram
            </button>
            <button class="primary ghost">
                <a href="https://www.instagram.com/call.me.abdellah/">Follow Me</a>
            </button>
        </div>
        <div class="skills">
            <h6>Wath I Know Do In This Life</h6>
            <ul>
                <li>9aray</li>
                <li>Player FootBall</li>
                <li>Gamer</li>
                <li>BestFriend</li>
            </ul>
        </div>
    </div>
    
    <footer>
        <p>
            Created with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://florin-pop.com">Mehdi Ell Bellaoui</a>
        </p>
    </footer>
</body>
</html>