<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card-container">
        <span class="pro">11</span>
        <img class="round" src="../../../images/mahmoud.png" alt="user" />
        <h3>Mahmoud El Farissi</h3>
        <h6>TCSF1</h6>
        <p>No Data <br/> Still Wait For Mahmoud To Give Me Here Data</p>
        <div class="buttons">
            <button class="primary">
                Instagram
            </button>
            <button class="primary ghost">
                <a href="https://www.instagram.com/_mahmoud_elfarissi/">Follow Me</a>
            </button>
        </div>
        <div class="skills">
            <h6>Wath I Know Do In This Life</h6>
            <ul>
                <li>No Data Rigth Now</li>
            </ul>
        </div>
    </div>
    
    <footer>
        <p>
            Created with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://florin-pop.com">Mehdi Ell Bellaoui</a>
        </p>
    </footer>
</body>
</html>