<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card-container">
        <span class="pro">17</span>
        <img class="round" src="../../../images/no_picture.jpg" alt="user" />
        <h3>Mehdi Ell Bellaoui-Administrator</h3>
        <h6>TCSF1</h6>
        <p>16 Years Old + Sra7a 9raya F 2022 Machi Chi Haja Daroria Bach Tabni Mousta9bal <br/> Mamsahebch Hania Wlahta Hania Insta La Kanet Chi Bant Nas :D</p>
        <div class="buttons">
            <button class="primary">
                Instagram
            </button>
            <button class="primary ghost">
                <a href="https://www.instagram.com/0xbl1ck/">Follow Me</a>
            </button>
        </div>
        <div class="skills">
            <h6>Wath I Know Do In This Life</h6>
            <ul>
                <li>Developer</li>
                <li>FreeLancer At Hacking Services</li>
                <li>Gray Hat Hacker</li>
                <li>FootBall Player</li>
                <li>Gamer {Fortnite, Pes}</li>
            </ul>
        </div>
    </div>
    
    <footer>
        <p>
            Created with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://florin-pop.com">Mehdi Ell Bellaoui</a>
        </p>
    </footer>
</body>
</html>